# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Raw and large data
*.PSG.edf
*.edf
*.EDF
data/raw/**/*.edf
data/raw/**/*.EDF

# Model artifacts
models/
*.joblib
*.pkl

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
